@import './common.styl'
body, html
  width 100%
  height 100%
  font-family 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
/* 公用类名样式 */
/* 按钮组 */
.mouse
  border-radius 10px
.move
  transition all 1s cubic-bezier(0.86, 0, 0.5, 1)
.slide-up-enter, .slide-down-leave-active
  transform translateY(100%)
.slide-up-leave-active, .slide-down-enter
  transform translateY(-100%)